<tc-header pageName="Boardwalk Tour"></tc-header>

<ion-content>
  <div class="content-container">
    <div style="padding-top: 10px; margin: auto; width: 100%; display: flex; justify-content: center; flex: 0 0 auto;">
      <ion-chip color="primary" style="text-align: center;">
        <ion-label> {{ imgService.totalViewed }} / {{ imgService.total }} Signs Viewed </ion-label>
      </ion-chip>
    </div>
    <!-- <div style="display: flex; flex-direction: row;"> -->
      <ion-button style=" flex: 0 0 auto;" color="secondary" (click)="reset()">
        Reset All
      </ion-button>
    <!-- </div> -->
    <div class="scroll-container">
      <ion-grid>
        <ion-row>
          <!-- <ion-col size="4" *ngFor="let obj of signs">
          <div class="sign-button-unviewed" (click)="showModal(obj)">
            <img src="assets/img/signs/{{ obj.id }}"/>
            <div></div>
            <ion-label>{{ obj.id + 1 }}</ion-label>
          </div>
        </ion-col> -->
          <ion-col size="4" *ngFor="let obj of imgService.images; let i = index">
            <div [class]="'sign-button ' + (obj.viewed ? 'viewed' : 'unviewed')" (click)="showZoom(i)">
              <img [src]="obj.path" />
              <div></div>
              <ion-label>{{ i + 1 }}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>