ion-button {
  // flex-grow: 1;
  // flex-basis: 50%;
  flex-shrink: 0;
  // padding: 0 5px;
  margin: 2%;
}

ion-spinner {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
}

.sign-button {
  height: 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  // border-width: 2.5px;
  // border-color: black;
  // border-style: solid;
  ion-img {
    filter: blur(5px);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 80%;
  }
  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  ion-label {
    font-size: 36pt;
    font-weight: 900;
    font-family: "Comic Sans MS", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
}

.unviewed {
  box-shadow: 2px 4px 8px darkgray;
  div {
    background-color: rgba(0, 0, 0, 0);
  }
  ion-label {
    color: black;
  }
}

.viewed {
  div {
    background-color: rgba(0, 0, 0, 0.5);
  }
  ion-label {
    color: white;
  }
}
