div.prompt-container {
  opacity: 0.0;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.5s;
  z-index: 999;
}

div.shade {
  background-color: black;
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

ion-slides.slides {
  position: absolute;
  top: 25%;
  bottom: 40%;
  left: 0;
  right: 0;
  --bullet-background: var(--ion-color-primary);
  --bullet-background-active: var(--ion-color-secondary);
}

div.ios-inner-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 325px;
  border-radius: 1em;
  left: 5%;
  right: 5%;
  background-color: white;
  ion-button.ios-close-button {
    position: absolute;
    top: -35px;
    right: -5px;
    height: 2.5em;
    width: 2.5em;
    ion-icon {
      width: 100%;
      height: 100%;
    }
  }
  div.ios-footer {
    position: absolute;
    // bottom: 25px;
    bottom: 5px;
    padding-top: 20px;
    width: 100%;
    text-align: center;
    ion-img {
      width: 1em;
      display: inline-block;
      transform: translateY(1px);
    }
    .dont-show-again {
      margin: auto;
      width: 80%;
      // position: absolute;
      // bottom: 5px;
      // left: 20px;
      // right: 0;
    }
  }
}

div.md-inner-slide {
  position: relative;
  border-radius: 1em;
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
  height: 100%;
  background-color: white;
}

.md-one-slide {
  position: absolute;
  height: 450px;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
  right: 10%;
  border-radius: 1em;
  background-color: white;
  text-align: center;
  ion-button.md-close-button {
    position: absolute;
    top: -35px;
    right: -5px;
    height: 2em;
    width: 2em;
    ion-icon {
      width: 100%;
      height: 100%;
    }
  }
  .install-step {
    display: flex;
    * {
      flex: 1 1 auto;
      margin-left: 10px;
    }
  }
  .install-step-text {
    margin: 0.5em auto 1em auto;
    width: 90%;
  }
  ion-img {
    margin-right: 15px;
    border: 2px solid black;
  }
  span {
    text-align: left;
    font-weight: bolder;
    font-size: larger;
  }
  .chrome-disclaimer {
    color: gray;
    font-size: 0.8em;
    margin-bottom: 1em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .dont-show-again {
    padding-left: 20px;
    width: 90%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
}

div.nav-button-container {
  position: absolute;
  bottom: 12%;
  left: 5%;
  right: 5%;
  display: flex;
  flex-direction: row;
  margin: 0 !important;
  padding-top: 20px;
  ion-button.slider-nav {
    flex-grow: 1;
    flex-basis: 50%;
    padding: 2px;
  }
}

span.install-instructions {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  font-size: medium;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  .chrome-disclaimer {
    color: gray;
    font-size: 0.8em;
    padding-top: 1.5em;
    width: 80%;
    margin: auto;
  }
}

.checkbox-container {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 30%;
  display: flex;
  justify-content: flex-start;
  ion-checkbox {
    --background: transparent;
  }
}

// ion-slide.slide {
//   div.slide-positioning-container {
//     position: relative;
//     > span {
//       position: absolute;
//       top: 5%;
//       left: 50%;
//       transform: translateX(-50%);
//       width: 100%;
//       font-size: medium;
//       padding-left: 5%;
//       padding-right: 5%;
//       .chrome-disclaimer {
//         color: gray;
//         font-size: 0.8em;
//         padding-top: 1.5em;
//         width: 80%;
//         margin: auto;
//       }
//     }
//     div.button-container {
//       position: absolute;
//       bottom: 12%;
//       left: 5%;
//       right: 5%;
//       display: flex;
//       flex-direction: row;
//       margin: 0 !important;
//       padding-top: 20px;
//       ion-button.slider-nav {
//         flex-grow: 1;
//         flex-basis: 50%;
//         padding: 2px;
//       }
//     }
//     border-radius: 1em;
//     margin-left: 10%;
//     margin-right: 10%;
//     width: 100%;
//     height: 100%;
//     background-color: white;
//   }
// }
