<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/home"></ion-back-button>
      </ion-buttons>
      <ion-title>Greenway Stops</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div style="display: flex; flex-direction: row;">
          <!-- <ion-button color="primary">
            Hey girl, how you doin?
          </ion-button> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>