<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Info</ion-title>
  </ion-toolbar>
</!-->

<tc-header pageName="About"></tc-header>

<ion-content>
  <!-- <ion-card *ngIf="installCount">
    <ion-card-header>
      <ion-card-title>
        App Installs
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ installCount }}
    </ion-card-content>
  </ion-card> -->

  <ion-card (click)="buttonHandler()">
    <img src="assets/img/tcMap.jpg" />
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title (click)="toggleHistory()">
        <ion-icon [name]="historyExpanded ? 'remove' : 'add'" color="dark"></ion-icon>
        <span>Station History</span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="historyExpanded">
      Turtle Cove itself is a historic structure located in the wetlands on Pass
      Manchac, a natural pass that connects Lakes Pontchartrain and Maurepas in
      southeastern Louisiana. The building was built in 1908 and is home to a
      variety of ecological and environmental research and educational programs.
      See our 20-minute Public Relations video at the bottom of this page for
      more information about everything we do at Turtle Cove. single tree in the
      swamp We invite you to visit the station itself, possibly as a student,
      volunteer, community member, researcher, or educator. Join us on a field
      trip or an ecosystem tour,begin a new research project, or attend one of
      our teacher workshops. We also ask that you consider helping to support
      our programs by making a donation to Turtle Cove through our Southeastern
      Foundation.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title (click)="toggleWhatGoesOn()">
        <ion-icon [name]="whatGoesOnExpanded ? 'remove' : 'add'" color="dark"></ion-icon>
        <span>What Goes on at Turtle Cove?</span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="whatGoesOnExpanded">
      <ul>
        <li>
          University classes (at both undergraduate and graduate levels)
        </li>
        <li>
          Professional Interdisciplinary Research and collaborative
          opportunities, primarily in biology (wetland ecology, cypress
          restoration, aquatic microbiology, entomology, herpetology, etc), but
          also environmental issues in chemistry, history, economics, education,
          the arts, and more, and not only from Southeastern, but other regional
          universities as well.
        </li>
        <li>
          Marsh Restoration Programs (Christmas Tree Recycling Program)---in the
          past 26 years Turtle Cove staff have deployed over 40,000 Christmas
          Trees in the surrounding marshes of Turtle Cove for the benefits of
          erosion control, habitat creation, diversion of trees from landfills
          and for hands-on environmental work. Turtle Cove also partners with
          the Lake Pontchartrain Basin Foundation and Coalition to Restore
          Coastal Louisiana in helping to replant cypress trees in the area.
        </li>
        <li>
          Graduate student research opportunities in ecology, herpetology and
          other disciplines
        </li>
        <li>
          Community outreach programs, featuring our Self-Guided Boardwalk Tour
        </li>
        <li>
          K-12 field trips and inquiry-based learning experiences and field
          training program for young scientists
        </li>
        <li>
          Teacher workshops for continuing education credits
        </li>
        <li>
          Collaborative programs with agencies and non profit organizations such
          as the Louisiana Department of Wildlife and Fisheries (LDWF), the Lake
          Pontchartrain Basin Foundation (LPBF), and the University of New
          Orleans' Coastal Education Program and Coastal Educayion Research
          Facility (CERF) among others.
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Contact Information
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Facility is not open to the public.
      <br>
      Please contact Dr. Robert Moreau to schedule a group tour.
      <br>
      <br>
      Turtle Cove Environmental Research Station Box 10585 Hammond, LA 70402
      <br>
      <br>
      Manager: Dr. Robert Moreau
      <br>
      <br>
      Email: <a href="mailto:rmoreau@southeastern.edu">rmoreau@southeastern.edu</a>
      <br>
      <br>
      Ph/Fax: <a href="tel:9855495008">(985) 549-5008</a>
      <br>
      <br>
      Cell: <a href="tel:5042311067">(504) 231-1067</a>
    </ion-card-content>
  </ion-card>
  <div style="text-align: center; width: 100%; color: gray; padding-bottom: 5px;">Turtle icon made by <a
      href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <div style="text-align: center; width: 85%; margin: auto; color: gray; padding-bottom: 5px;">The Turtle Cove Companion
    App was devloped by Phillip Weaver and Zachary Armand</div>
</ion-content>