<div id="prompt-container" class="prompt-container">
  <div class="shade">
  </div>
  <ion-button (click)="hidePrompt()" class="close-button" fill="clear" shape="round" size="small" color="light">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
  <ng-container *ngIf="platform.is('android')">
    <ion-slides #slider pager="true" class="slides">
      <ion-slide class="slide">
        <div class="slide-positioning-container">
          <span style="top: 15%;">
            <ion-img src="assets/img/android_pwa_0.jpg"></ion-img>
            <br>
            Tap "Add TurtleCove to Home Screen" at the bottom of your screen.
          </span>
          <div class="button-container">
            <ion-button (click)="slider.slidePrev()" size="small" class="slider-nav" style="visibility: hidden;">
              Previous
            </ion-button>
            <ion-button (click)="slider.slideNext()" size="small" class="slider-nav">
              Next
            </ion-button>
          </div>
        </div>
      </ion-slide>
      <ion-slide class="slide">
        <div class="slide-positioning-container">
          <span>
            <ion-img src="assets/img/android_pwa_1.jpg"></ion-img>
            <br>
            Tap "Add" on the next screen to install the Turtle Cove app.
          </span>
          <div class="button-container">
            <ion-button (click)="slider.slidePrev()" size="small" class="slider-nav">
              Previous
            </ion-button>
            <ion-button (click)="slider.slideNext()" size="small" class="slider-nav">
              Next
            </ion-button>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ng-container>
  <ng-container *ngIf="platform.is('ios')">
    <ion-slides class="slides">
      <ion-slide>
        <div class="slide">
          <span>iOS slide 1</span>
        </div>
      </ion-slide>
      <ion-slide class="slide">
        <div>
          <span>iOS slide 2</span>
        </div>
      </ion-slide>
      <ion-slide class="slide">
        <div>
          <span>iOS slide 3</span>
        </div>
      </ion-slide>
      <ion-slide class="slide">
        <div>
          <span>iOS slide 4</span>
        </div>
      </ion-slide>
      <ion-slide class="slide">
        <div>
          <span>iOS slide 5</span>
        </div>
      </ion-slide>
    </ion-slides>
  </ng-container>
</div>