<ion-tabs>
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tc-tour">
      <ion-icon name="boat"></ion-icon>
      <ion-label>Turtle Cove</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="gw-tour">
      <ion-icon name="map"></ion-icon>
      <ion-label>Greenway</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="checklist">
      <ion-icon name="checkmark"></ion-icon>
      <ion-label>Checklist</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
