// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

// ion-content {
//     --background: url('resources/background.jpg')  no-repeat 50% 40%;
//     --background-size:cover;
//     //opacity: 0.4;
//   }

div.prompt-container {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.5s;
  z-index: 999;
}

div.shade {
  opacity: 50%;
  background-color: black;
  height: 100%;
  width: 100%;
}

.slides {
  position: absolute;
  top: 20%;
  bottom: 35%;
  left: 0;
  right: 0;
}

.slide {
  border-radius: 5%;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 50%;
  width: 100%;
  height: 100%;
  background-color: white;
}

.dev-banner {
  width: 100%;
  background-color: goldenrod;
  z-index: 998;
  text-align: center;
  height: 1.5em;
  padding-top: 3px;
}
.dev-router {
  z-index: 1;
  margin-top: 1.5em;
}
