<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="close()" color="light">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scrollY="false">
  <ion-slides *ngIf="viewEntered" style="height: 100%;" [options]="sliderOptions" #slider (ionSlideDidChange)="slideChanged()">
    <ion-slide *ngFor="let obj of imgService.images">
      <div class="swiper-zoom-container">
        <img [src]="obj.path"/>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <div class="zoom-buttons">
      <ion-button (click)="zoom(true)" fill="clear" color="light">
        <ion-icon name="add" slot="start"></ion-icon>
        In
      </ion-button>
      <ion-button (click)="zoom(false)" fill="clear" color="light">
        <ion-icon name="remove" slot="start"></ion-icon>
        Out
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>