<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon color="light" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-card style="height: 100%;">
  <img [src]="stop.img" />
  <ion-card-header>
    <ion-card-title> {{ stop.title }} </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div style="overflow: scroll; display: inline-block;">
      Stuff
      {{ stop.info }}
    </div>
  </ion-card-content>
</ion-card>
