<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon color="light" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen scrollY="false">
  <ion-card>
    <img [src]="stop.img"/>
    <ion-card-header>
      <ion-card-title> {{ stop.title }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ stop.info }}
    </ion-card-content>
    <ion-button (click)="buttonHandler()" style="margin: 10px 15px;">Take me there!</ion-button>
  </ion-card>
</ion-content>