<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign {{ sign.id + 1 }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img
      width="100%"
      [src]="sign.image"
      tappable
      (click)="openPreview(sign.image)"
    />
  </ion-card>

  <!-- <ion-card>
    <img width="100%" [src]="sign.image" />
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        {{ sign.title }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngFor="let obj of sign.info">
      {{ obj }}
    </ion-card-content>
  </ion-card>
  <p
    *ngFor="let cite of sign.citation"
    style="text-align: center; color:darkgrey"
  >
    {{ cite }}
  </p>
</ion-content>
