// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

body {
  background-color: var(--ion-color-primary);
}

ion-content {
  --background: #eeeeee;
}

ion-card {
  --background: #ffffff !important;
}

.tab-selected {
  color: var(--ion-color-secondary);
  --color-selected: var(--ion-color-secondary);
}

.transparent-modal {
  div.modal-wrapper {
    background: transparent !important;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.scroll-container {
  flex: 1 1 auto;
  overflow-y: scroll;
}